.active-tab {
	border-style: solid;
	border-width: 2px;
	background-color: #e8e8e8;
	border-color: #F15A25 #e8e8e8 #e8e8e8 #e8e8e8;

}

.inactive-tab {
	background-color: #d1d1cc;
}

#chat-button {
	margin-top: 25px;
	padding-top: 5px;
	width: 50%;
	float: left;
	height: 40px;
	color: #848181;
	text-align: center;
}


#trip-button {
	padding-top: 5px;
	margin-top:25px;
	width: 50%;
	float: left;
	height: 40px;
	text-align: center;
	color: #848181;
}

#chat-button-small {
	margin-top: 25px;
	padding-top: 5px;
	width: 33.33%;
	float: left;
	height: 40px;
	color: #848181;
	text-align: center;
}

#trip-button-small {
	padding-top: 5px;
	margin-top:25px;
	width: 33.33%;
	float: left;
	height: 40px;
	text-align: center;
	color: #848181;
}

#trip-join-button-small {
	padding-top: 5px;
	margin-top:25px;
	width: 33.33%;
	float: left;
	height: 40px;
	text-align: center;
	color: #848181;
}


#chat-container {
	padding-top: 10px;
	position: relative;
	width: 100%;
	height: 380px;
	float: left;
	overflow-y:auto;
}

#chat-input-text {
	margin-top: 5px;
	margin-left: 5%;
	width: 80%;
	float: left;
	border:none;
	height: 30px;
}
#chat-input-button {
	margin-top: 5px;
	float: left;
	width: 10%;
	margin-right: 5%;
	border:none;
	background-color: #457ff7;
	color: white;
	height: 30px;
}

#chat-input-button:hover {
	background-color: #345fb9;
}

#chat-multi-container {
	position: relative;
	float: left;
	width: 100%;
	height: 430px;
	background-color: #e8e8e8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.text-message {
	background-color: white;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
}

.show-trip {
	display: none;
}

.show-trip-join {
	display: none;
}

.unshow-picture {
	display: none;
}
.organize-trip {
	display: none;
	margin-top: 20px;
}

#add-trip-box {
	float:left;
	background-color:#F15A25;
	text-align:center;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	height: 87px;
	border-radius: 10px;
	padding-top: 32px;
	color: white; 
}

#list-trip-box {
	float: left;
	background-color:white;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	height: 87px;
	border-radius: 10px;
	padding: 5px;
	color: black; 
}

.create-trip-container {
	margin-top: 25px;
	padding-top: 10px;
	padding-left: 5%;
	padding-right: 5%;
}