#map {
      height: 580px;
      width: 100%;
      margin-top: 0px;
      overflow: hidden;
      float: left;
      border: none;
}

#capture {
      height: 40px;
      width: 100%;
      overflow: hidden;
      float: left;
      background-color: #ECECFB;
      border: thin solid #333;
      border-left: none;
}